body {
    background-color:blueviolet;
}

.one {
    background-color: white;
    color: orange;
    margin-left: 20em;
}

.two {
    background-color: white;
    color: yellow;
}


.pictwo {
    max-width: 80px;
    padding-left: 40px;
}

#new {
    color: white;
}